<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {%load static%}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>living</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <!--  <h1>This is my WEBSITE</h1>
        <p class="message">I am so happy and glad that the website is running</p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'img/IMG_20210327_173859_504.jpg' %}" alt=""></img>
                    <p>This is a guitar</p> 
                </div>

                <div class="col-md-4">
                    <img src="{% static 'img/IMG_20210327_173859_504.jpg' %}" alt=""></img>
                    <p>This is a guitar</p>
                </div>

                <div class="col-md-4">
                    <img src="{% static 'img/IMG_20210327_173859_504.jpg' %}" alt=""></img>
                    <p>This is a guitar</p>
                </div>
            </div>
        </div> -->
        <script src="" async defer></script>

        <header>
            <h1>Living</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'living' %}">Living Room</a></li>
                    <li><a href="{% url "bedroom"%}">Bedroom</a></li>
                    <li><a href="{% url "homeoffice"%}">Home Office</a></li>
                    <li><a href="{% url "kitchen_dining"%}">Kitchen And Dining Room</a></li>
                    <li><a href="{% url "Outdoor"%}">Outdoor</a></li>
                    <li><a href="{% url "contact"%}">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div><a><img src="{% static 'img/IMG_20210327_173859_504.jpg' %}" alt=""></a><br>
            <strong>A</strong>
        </div>
            <div><a><img src="{% static 'img/IMG_20210327_173859_504.jpg' %}" alt=""></a></div>
            <div><a><img src="{% static 'img/IMG_20210327_173859_504.jpg' %}" alt=""></a></div>
        </section>
        <section>section-two</section>
        <footer>footer</footer>
    </body>
</html>